In [30]:

import pandas as pd

In [31]:
copd_file = 'HumanNet-XN-change_heder.tsv'
file_path = f'../../Data/processed/HumanNet2/IntegratedNetworks/HumanNet-XN-change_header.csv'
copd_df = pd.read_csv(file_path,sep=',', skiprows = 0)
copd_df.head()

   gene_id1  gene_id2       LLS
0     10054     10055  5.053354
1    116150     79947  5.052720
2      8891      8892  5.044083
3     23399    255919  5.043902
4      2339      2342  5.041499

In [32]:
copd_df["LLS"].max()

5.053353889936719

In [33]:
copd_df["LLS"].min()

0.0407081462208225

Normalized LLS by max_val - min_val
aka. Converting from LLS to LLN

In [34]:
import pandas as pd
from sklearn import preprocessing

min_max_scaler = preprocessing.MinMaxScaler()
x = copd_df.values #returns a numpy array
x_scaled = min_max_scaler.fit_transform(x)
copd_df["LLS"] = pd.DataFrame(x_scaled)
copd_df.head()

   gene_id1  gene_id2       LLS
0     10054     10055  0.000098
1    116150     79947  0.001131
2      8891      8892  0.000087
3     23399    255919  0.000228
4      2339      2342  0.000023

In [35]:
copd_df["LLS"].max()

0.9999999999999999

In [36]:
copd_df["LLS"].min()

0.0

Save normalized LLS (LLN) to data/process/...

In [38]:
copd_df["LLS"].head()

0    0.000098
1    0.001131
2    0.000087
3    0.000228
4    0.000023
Name: LLS, dtype: float64

In [39]:
save_path = '../../Data/processed/HumanNet2/IntegratedNetworks/HumanNet-XN-change_header_normalized.csv'
copd_df.to_csv(save_path, sep=',', index=False )